* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body {
	min-height: 100vh;
	overflow: hidden;
	background-color: #63330a;
}

.menu-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.menu-container {
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.game-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

.game-field {
	position: relative;
	height: auto;
}
